<!DOCTYPE html>
<html>
  <head>
    <title>Pikwon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= react_component('Main', props: { currentUser: @current_user }, prerender: false) %>
      <%= yield %>
    </div>
  </body>
</html>
